body{
  font-family: 'Oxygen', sans-serif;
  background-image: URL("/Sites/textures.github.io/images/wallhaven-87843.png");
  background-repeat: no-repeat;

}

h1, h3, p{
  color: white;
}

ul{
  list-style: none;
  padding:0;
}

a:hover{
  color:white;
}
